<div class="container">
  <div class="py-1">
      <div class="container px-0" style="text-align: right;position: absolute;bottom: 0;">
          <div class="d-md-flex justify-content-between align-items-center py-3 text-center text-center text-md-left">
              <div class="text-primary-hover">
                  <a href="#" class="text-body">Copyrights&copy2021 EasyAid All rights reserved.</a>
              </div>
              <div class="mt-3 mt-md-0">
                  <ul class="list-inline-item">
                      <li class="list-inline-item">
                          <a class="nav-link pe-0" href="#">
                              Privacy policy
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>