.gradient-custom-3 {

    background: #84fab0;


    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));


    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {

    background: #59cfcd;

    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), #59cfcd);

    background: linear-gradient(to right, rgba(132, 250, 176, 1), #59cfcd)

}

div.contenitore{
    width:30em ;
    height:40em
}

div.bordo{
    width:15em ;
    height:15em
}