
#corpo{
    margin-top: -16em;
    margin-left: 45em;
    background-color: white;
    border-radius: 13%;
    font-size: 23px;
}
#img{
    height: 24em;
    margin-top: 16em;
    margin-left: 30em;
    background-color: #59cfcd;
}
#corpo > #accedi > input{
    font-family: Garamond;
    font-size: 0.7em;
    border-radius: 15%;
    width: 2.8em;
    background-color: #59cfcd;
    border-color: #59cfcd;
}